<!DOCTYPE html>
<html>
<head>
    <!-- Sayfanın başlık kısmı, içeriği türetilmiş template'ler tarafından belirlenebilir -->
    <title>{% block title %}Yapılacaklar Listesi{% endblock %}</title>
    <!-- Bootstrap CSS kütüphanesini dahil etmek için link etiketi. Bu CSS framework, sayfa düzenlemeleri için stil ve yanıt verebilirlik sağlar -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <!-- Navigasyon barı. Site genelinde sabit bir bileşen olarak kullanılır -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Yapılacaklar Listesi</a> <!-- Navbar markası ve ana sayfa linki -->
    </nav>

    <!-- Ana içerik bloğu, türetilmiş template'lerdeki içerik buraya yerleştirilir -->
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    <!-- jQuery, Popper.js ve Bootstrap JS kütüphaneleri. Interaktif öğeler ve Bootstrap'in JavaScript bileşenleri için gerekli -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
